{% set components = craft.mqueues.queues %}

{% for component in components %}
    <h1>Queue {{ component.channel }}</h1>
    <p>Waiting: {{ component.getTotalWaiting() }}</p>
    <p>Processing: {{ component.getTotalReserved() }}</p>
    <p>Failed: {{ component.getTotalFailed() }}</p>
    <hr/>
{% endfor %}